<form id="user-reward-form">
  <div class="postItem mVBotL">
    <div class="row mVBotM align-justify">
      <div class="columns large-7">
        <ul class="clearfix itemSelectWrapper">

          <li class="itemSelect iPoints">
            <span>Pontos</span>
            <ul class="itemList">
              <% points_options.each do |point| %>
                <li data-name="points" data-value="<%= point %>" data-label="+ <%= point %>">+ <%= point %></li>
              <% end %>
            </ul>
          </li>

          <li class="itemSelect iPeople">
            <span>Quem</span>
            <ul class="itemList purple">
              <% other_users.each do |user| %>
                <li data-name="rewarded_user" data-value="<%= user.id %>" data-label="<%= user.initials.upcase %>"><i><%= user.initials.upcase %></i><span><%= user.at_name %></span></li>
              <% end %>
            </ul>
          </li>
          <li class="itemSelect iPound">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <path fill-rule="evenodd" d="M16.872 22.547l-3.993.615-1.057 6.433C11.596 30.982 10.397 32 8.99 32c-1.142 0-2.07-.927-2.07-2.07 0-.112.01-.224.028-.335l.93-5.664-5.62.865c-1.07.165-2.07-.57-2.235-1.64-.015-.098-.023-.198-.023-.298 0-1.315.96-2.433 2.26-2.633l6.387-.983.71-4.328-4.812.74c-1.07.165-2.072-.57-2.236-1.64-.017-.098-.024-.198-.024-.298 0-1.315.96-2.433 2.26-2.633l5.58-.858.908-5.53c.228-1.388 1.426-2.406 2.832-2.406 1.143 0 2.07.927 2.07 2.07 0 .112-.01.224-.027.335l-.782 4.763 3.993-.615 1.057-6.433C20.404 1.018 21.603 0 23.01 0c1.142 0 2.07.927 2.07 2.07 0 .112-.01.224-.028.335l-.93 5.664 5.62-.865c1.07-.165 2.07.57 2.235 1.64.015.098.023.198.023.298 0 1.315-.96 2.433-2.26 2.633l-6.387.983-.71 4.328 4.812-.74c1.07-.165 2.072.57 2.236 1.64.017.098.024.198.024.298 0 1.315-.96 2.433-2.26 2.633l-5.58.858-.908 5.53c-.228 1.388-1.426 2.406-2.832 2.406-1.143 0-2.07-.927-2.07-2.07 0-.112.01-.224.027-.335l.782-4.763zm.77-4.69l.71-4.33-3.994.616-.71 4.33 3.994-.616z"/>
              </svg>
            </span>
          </li>
        </ul>
      </div>

      <div class="columns large-5">
        <span class="availablePoints">
          <strong><%= current_user.points_to_give %> pontos de recompensa</strong> disponíveis
        </span>
      </div><!-- end columns -->
    </div><!-- end row -->

    <div class="row mVBotM">
      <div class="columns large-7">
        <textarea id="description" name="description" placeholder="Quero recompensar por..."></textarea>
      </div><!-- end columns -->
    </div><!-- end row -->

    <div class="row align-right">
      <div class="columns">
        <button id="submit-btn" class="btn filled gray right">Recompensar</button>
      </div><!-- end columns -->
    </div><!-- end row -->

  </div><!-- end postItem -->
</form>
