      <div class="row">

  <!-- MAIN BLOCK -->
  <div class="columns large-8">
    <section class="row">
      <div class="columns large-12">
        <h3 class="mVBotL">Quem foi o seu Herói hoje? Conte para todos!</h3>
      </div>
    </section>

    <section class="row">
      <div class="columns large-12">
        <div class="postItem mVBotL">
          <div class="row mVBotM align-justify">
            <div class="columns large-9">
              <ul class="clearfix itemSelectWrapper">
                <li class="itemSelect iPoints">
                  <span>Pontos</span>
                </li>
                <li class="itemSelect iPeople">
                  <span>Quem</span>
                </li>
                <li class="itemSelect iPound">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                      <path fill-rule="evenodd" d="M16.872 22.547l-3.993.615-1.057 6.433C11.596 30.982 10.397 32 8.99 32c-1.142 0-2.07-.927-2.07-2.07 0-.112.01-.224.028-.335l.93-5.664-5.62.865c-1.07.165-2.07-.57-2.235-1.64-.015-.098-.023-.198-.023-.298 0-1.315.96-2.433 2.26-2.633l6.387-.983.71-4.328-4.812.74c-1.07.165-2.072-.57-2.236-1.64-.017-.098-.024-.198-.024-.298 0-1.315.96-2.433 2.26-2.633l5.58-.858.908-5.53c.228-1.388 1.426-2.406 2.832-2.406 1.143 0 2.07.927 2.07 2.07 0 .112-.01.224-.027.335l-.782 4.763 3.993-.615 1.057-6.433C20.404 1.018 21.603 0 23.01 0c1.142 0 2.07.927 2.07 2.07 0 .112-.01.224-.028.335l-.93 5.664 5.62-.865c1.07-.165 2.07.57 2.235 1.64.015.098.023.198.023.298 0 1.315-.96 2.433-2.26 2.633l-6.387.983-.71 4.328 4.812-.74c1.07-.165 2.072.57 2.236 1.64.017.098.024.198.024.298 0 1.315-.96 2.433-2.26 2.633l-5.58.858-.908 5.53c-.228 1.388-1.426 2.406-2.832 2.406-1.143 0-2.07-.927-2.07-2.07 0-.112.01-.224.027-.335l.782-4.763zm.77-4.69l.71-4.33-3.994.616-.71 4.33 3.994-.616z"/>
                    </svg>
                  </span>
                </li>
              </ul>
            </div>

            <div class="columns large-3">
              <span class="availablePoints">
                <strong>182 pontos</strong> disponíveis
              </span>
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row mVBotM">
            <div class="columns">
              <textarea id="" placeholder="O mundo precisa saber o que aconteceu... comente aqui!"></textarea>
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row align-right">
            <div class="columns">
              <button class="btn filled gray right">Recompensar</button>
            </div><!-- end columns -->
          </div><!-- end row -->

        </div><!-- end postItem -->


        <div class="postItem mVBotL">
          <div class="row mVBotM align-justify">
            <div class="columns large-9">
              <ul class="clearfix itemSelectWrapper">
                <li class="itemSelect iPoints">
                  <span class="active">+20</span>                 
                </li>
                <li class="itemSelect iPeople">
                  <span class="active">
                    JP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span data-tooltip aria-haspopup="true" class="has-tip top active" data-disable-hover="false" tabindex="2" title="@ney.pimenta">NP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">DI <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">MC <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">NP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">DI <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">MC <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span id="addPeople" class="addPeople visible">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                      <path fill-rule="evenodd" d="M4 4H1c-.552 0-1 .448-1 1s.448 1 1 1h3v3c0 .552.448 1 1 1s1-.448 1-1V6h3c.552 0 1-.448 1-1s-.448-1-1-1H6V1c0-.552-.448-1-1-1S4 .448 4 1v3z"/>
                    </svg>
                  </span>
                </li>
                <li class="itemSelect iPound">
                  <span class="active clearfix">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path fill-rule="evenodd" d="M16.872 22.547l-3.993.615-1.057 6.433C11.596 30.982 10.397 32 8.99 32c-1.142 0-2.07-.927-2.07-2.07 0-.112.01-.224.028-.335l.93-5.664-5.62.865c-1.07.165-2.07-.57-2.235-1.64-.015-.098-.023-.198-.023-.298 0-1.315.96-2.433 2.26-2.633l6.387-.983.71-4.328-4.812.74c-1.07.165-2.072-.57-2.236-1.64-.017-.098-.024-.198-.024-.298 0-1.315.96-2.433 2.26-2.633l5.58-.858.908-5.53c.228-1.388 1.426-2.406 2.832-2.406 1.143 0 2.07.927 2.07 2.07 0 .112-.01.224-.027.335l-.782 4.763 3.993-.615 1.057-6.433C20.404 1.018 21.603 0 23.01 0c1.142 0 2.07.927 2.07 2.07 0 .112-.01.224-.028.335l-.93 5.664 5.62-.865c1.07-.165 2.07.57 2.235 1.64.015.098.023.198.023.298 0 1.315-.96 2.433-2.26 2.633l-6.387.983-.71 4.328 4.812-.74c1.07-.165 2.072.57 2.236 1.64.017.098.024.198.024.298 0 1.315-.96 2.433-2.26 2.633l-5.58.858-.908 5.53c-.228 1.388-1.426 2.406-2.832 2.406-1.143 0-2.07-.927-2.07-2.07 0-.112.01-.224.027-.335l.782-4.763zm.77-4.69l.71-4.33-3.994.616-.71 4.33 3.994-.616z"/>
                    </svg>

                    <strong>fazedor</strong>
                  </span>
                </li>
              </ul>
            </div>

            <div class="columns large-3">
              <span class="availablePoints">
                <strong>182 pontos</strong> disponíveis
              </span>
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row mVBotM">
            <div class="columns">
              <textarea id="" placeholder="O mundo precisa saber o que aconteceu... comente aqui!"></textarea>
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row align-right">
            <div class="columns">
              <button class="btn filled green right">Recompensar 20 pontos</button>
            </div><!-- end columns -->
          </div><!-- end row -->

        </div><!-- end postItem -->

        <div class="postItem mVBotL">
          <div class="row mVBotM">
            <div class="columns">
              <p class="rewardComments">
                <strong>Ney:</strong>
                Por participar na Code in Quero 2017
              </p>
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row align-justify">
            <div class="columns large-12">
              <ul class="clearfix itemSelectWrapper">
                <li class="itemSelect iPoints">
                  <span class="active">+20</span>

                  <span id="addPoints" class="addPoints visible">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                      <path fill-rule="evenodd" d="M4 4H1c-.552 0-1 .448-1 1s.448 1 1 1h3v3c0 .552.448 1 1 1s1-.448 1-1V6h3c.552 0 1-.448 1-1s-.448-1-1-1H6V1c0-.552-.448-1-1-1S4 .448 4 1v3z"/>
                    </svg>
                  </span>                
                </li>
                <li class="itemSelect iPeople">
                  <span class="active">
                    JP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span data-tooltip aria-haspopup="true" class="has-tip top active" data-disable-hover="false" tabindex="2" title="@ney.pimenta">NP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">DI <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">MC <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">NP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">DI <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">MC <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>                  
                </li>
                <li class="itemSelect iPound poundIndicator">
                  <span class="active clearfix">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path fill-rule="evenodd" d="M16.872 22.547l-3.993.615-1.057 6.433C11.596 30.982 10.397 32 8.99 32c-1.142 0-2.07-.927-2.07-2.07 0-.112.01-.224.028-.335l.93-5.664-5.62.865c-1.07.165-2.07-.57-2.235-1.64-.015-.098-.023-.198-.023-.298 0-1.315.96-2.433 2.26-2.633l6.387-.983.71-4.328-4.812.74c-1.07.165-2.072-.57-2.236-1.64-.017-.098-.024-.198-.024-.298 0-1.315.96-2.433 2.26-2.633l5.58-.858.908-5.53c.228-1.388 1.426-2.406 2.832-2.406 1.143 0 2.07.927 2.07 2.07 0 .112-.01.224-.027.335l-.782 4.763 3.993-.615 1.057-6.433C20.404 1.018 21.603 0 23.01 0c1.142 0 2.07.927 2.07 2.07 0 .112-.01.224-.028.335l-.93 5.664 5.62-.865c1.07-.165 2.07.57 2.235 1.64.015.098.023.198.023.298 0 1.315-.96 2.433-2.26 2.633l-6.387.983-.71 4.328 4.812-.74c1.07-.165 2.072.57 2.236 1.64.017.098.024.198.024.298 0 1.315-.96 2.433-2.26 2.633l-5.58.858-.908 5.53c-.228 1.388-1.426 2.406-2.832 2.406-1.143 0-2.07-.927-2.07-2.07 0-.112.01-.224.027-.335l.782-4.763zm.77-4.69l.71-4.33-3.994.616-.71 4.33 3.994-.616z"/>
                    </svg>

                    <strong>fazedor</strong>
                  </span>
                </li>
              </ul>
            </div>            
          </div><!-- end row -->

          
            
        </div><!-- end postItem -->


        <div class="postItem mVBotL">
          <div class="row mVBotM">
            <div class="columns">
              <p class="rewardComments">
                <strong>Marcos:</strong>
                Por trabalhar mais de 24 horas seguindas sem descanso. Você é demais brother! ;)
              </p>
            </div><!-- end columns -->
          </div><!-- end row -->

          <div class="row align-justify">
            <div class="columns large-12">
              <ul class="clearfix itemSelectWrapper">
                <li class="itemSelect iPoints">
                  <span class="active">+60</span>

                  <span id="addPoints" class="addPoints visible">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10">
                      <path fill-rule="evenodd" d="M4 4H1c-.552 0-1 .448-1 1s.448 1 1 1h3v3c0 .552.448 1 1 1s1-.448 1-1V6h3c.552 0 1-.448 1-1s-.448-1-1-1H6V1c0-.552-.448-1-1-1S4 .448 4 1v3z"/>
                    </svg>
                  </span>                
                </li>
                <li class="itemSelect iPeople">
                  <span class="active">
                    JP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span data-tooltip aria-haspopup="true" class="has-tip top active" data-disable-hover="false" tabindex="2" title="@ney.pimenta">NP <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>
                  <span class="active">DI <i><img src="<%= image_path('i-close.svg') %>"></i>
                  </span>               
                </li>
                <li class="itemSelect iPound poundIndicator">
                  <span class="active clearfix">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                      <path fill-rule="evenodd" d="M16.872 22.547l-3.993.615-1.057 6.433C11.596 30.982 10.397 32 8.99 32c-1.142 0-2.07-.927-2.07-2.07 0-.112.01-.224.028-.335l.93-5.664-5.62.865c-1.07.165-2.07-.57-2.235-1.64-.015-.098-.023-.198-.023-.298 0-1.315.96-2.433 2.26-2.633l6.387-.983.71-4.328-4.812.74c-1.07.165-2.072-.57-2.236-1.64-.017-.098-.024-.198-.024-.298 0-1.315.96-2.433 2.26-2.633l5.58-.858.908-5.53c.228-1.388 1.426-2.406 2.832-2.406 1.143 0 2.07.927 2.07 2.07 0 .112-.01.224-.027.335l-.782 4.763 3.993-.615 1.057-6.433C20.404 1.018 21.603 0 23.01 0c1.142 0 2.07.927 2.07 2.07 0 .112-.01.224-.028.335l-.93 5.664 5.62-.865c1.07-.165 2.07.57 2.235 1.64.015.098.023.198.023.298 0 1.315-.96 2.433-2.26 2.633l-6.387.983-.71 4.328 4.812-.74c1.07-.165 2.072.57 2.236 1.64.017.098.024.198.024.298 0 1.315-.96 2.433-2.26 2.633l-5.58.858-.908 5.53c-.228 1.388-1.426 2.406-2.832 2.406-1.143 0-2.07-.927-2.07-2.07 0-.112.01-.224.027-.335l.782-4.763zm.77-4.69l.71-4.33-3.994.616-.71 4.33 3.994-.616z"/>
                    </svg>

                    <strong>amordeempreendedor</strong>
                  </span>
                </li>
              </ul>
            </div>            
          </div><!-- end row -->

          
            
        </div><!-- end postItem -->
      </div><!-- end columns -->
    </section>
  </div>
  
  <!-- ASIDE -->
  <div class="columns large-4">
    <aside class="row">
      <div class="columns large-12">
        <div class="postItem">
          
        </div>
      </div>
    </aside>
  </div>        
</div>