<div class="row">
  <!-- MAIN BLOCK -->
  <div class="columns large-7">
    <section class="row">
      <div class="columns large-12">
        <h3 class="mVBotL">Quem foi o seu Herói hoje? Conte para todos!</h3>
      </div>
    </section>

    <section class="row">
      <div class="columns large-12">
        <%= render 'user_reward_form' %>

        <% timeline.each do |reward| %>
          <% if reward.is_a?(QuestReward) %>
            <%= render 'quest_reward_card', reward: reward %>
          <% else %>
            <%= render 'user_reward_card', reward: reward %>
          <% end %>
        <% end %>

      </div><!-- end columns -->
    </section>
  </div>

  <!-- ASIDE -->
  <div class="columns large-5">

    <section class="row">
      <div class="columns large-12">
        <h3 class="mVBotL">Missões</h3>
      </div>
    </section>

    <aside class="row">
      <div class="columns large-12">

        <% unless my_quest.present? %>
          <%= render 'quest_form' %>
        <% else %>
          <%= render 'my_quest_card' %>
        <% end %>
      </div>
    </aside>
  </div>
</div>