<%# TEMP FORM %>
<%= form_for :user, url: '/identificacao' do |f| %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>
<% end %>



<!-- LOGIN -->
<div class="loginBg">
  <div class="loginWrapper">
    <div class="loginLogo">
      <img src="<%= image_path('logo.svg') %>" alt="">
    </div>

    <div class="loginFields">
      <div class="fieldWrapper mVBotM">
        <input type="text" placeholder="Seu e-mail">
      </div>

      <div class="mVBotM divider"></div>

      <div class="fieldWrapper mVBotM">
        <input type="password" placeholder="Sua senha">
      </div>

      <div class="fielWrapper">
        <button class="btn filled green mVBotS">Entrar</button>
        <a href="#">Esqueceu sua senha?</a>
      </div>
    </div>
  </div>
</div>