<script src="https://cdn.auth0.com/js/lock/10.16/lock.min.js"></script>
<script>
  var lock = new Auth0Lock(
    '<%= Rails.application.secrets.auth0_client_id %>',
    '<%= Rails.application.secrets.auth0_domain %>', {
    language: 'pt-br',
    languageDictionary: {
    	title: ''
    },
    popupOptions: { width: 400, height: 400, left: 200, top: 300 },
    theme: {
    	logo: '<%= image_path("logo.svg") %>',
    	primaryColor: '#2E294E'
    },
    auth: {
      redirectUrl: '<%= auth_callback_url %>',
      responseType: 'code',
      params: {
        scope: 'openid email', // Learn about scopes: https://auth0.com/docs/scopes
        state: $('meta[name="state"]').attr('content')
      }
    }
  });
  lock.show();
</script>


<!-- LOGIN -->
<div class="loginBg">
  <div class="loginWrapper">
    <div class="loginLogo">
      <img src="<%= image_path('logo.svg') %>" alt="">
    </div>

    <div class="loginFields">
      <div class="fieldWrapper mVBotM">
        <input type="text" placeholder="Seu e-mail">
      </div>

      <div class="mVBotM divider"></div>

      <div class="fieldWrapper mVBotM">
        <input type="password" placeholder="Sua senha">
      </div>

      <div class="fielWrapper">
        <button class="btn filled green mVBotS">Entrar</button>
        <a href="#">Esqueceu sua senha?</a>
      </div>
    </div>
  </div>
</div>
