<div class="row">
  <div class="columns large-12">
      <p id="notice"><%= notice %></p>

      <h2 class="mVBotL">Resgate de pontos</h2>

      <div class="row">
        <% @prizes.each do |prize| %>

          <div class="small-6 medium-4 columns prize">

            <div class="prizeWrapper">
              <div class="prizeImg">
                <%= image_tag('kitkat.png') %>
              </div>
              
              <div class="prizeContent">
                <div class="prizeName">
                  <h4><%= prize.name %></h4>
                </div>           
                
                <div class="prizeCost mVBotL">
                  <span><%= pluralize(prize.cost, "ponto", "pontos") %></span>
                </div>

                <% if user_admin? %>
                <%= link_to 'Arquivar', archive_prize_path, method: :post, class: 'btn filled fullWidth gray', data: { confirm: 'Tem certeza?' } %>
                <% else %>
                <%= link_to 'Eu mereço essa recompensa!', choose_prize_path, method: :post, class: 'btn filled fullWidth green js-choose', data: { confirm: 'Tem certeza?', id: prize.id } %>
                <% end %>
              </div>
            </div>
          </div>

        <% end %>

      </div>

  </div>
</div>