<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Morse code" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= state_meta_tag %>

    <!-- fonts typekit -->
    <script src="https://use.typekit.net/gow5cks.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>


  </head>

  <body>

    <%= yield %>
    <header>
      <div class="row align-justify">

        <!-- LOGO -->
        <div class="columns large-6">
          <a class="logo" href="#">
            Office<strong>Heroes</strong>
          </a>
        </div><!-- end columns -->

        <% if user_signed_in? %>
          <!-- WALLET & USER -->
          <div class="columns large-6">
            <div class=" floatRight userAvatar">
              <a class="clearfix" href="#">
                <span><%= current_user.initials %></span> <%= current_user.name %>
              </a>
            </div>
            <div class="floatRight walletWrapper clearfix">
              <span class="walletPoints">
                <strong>182</strong> pontos
              </span>

              <a class="btn ghost white" href="#">
                Resgatar
              </a>
            </div><!-- end wallet-wrapper -->
          </div><!-- end columns -->
        <% end %>
      </div>
    </header>

  </body>
</html>
