<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Office Heroes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= state_meta_tag %>

    <!-- fonts typekit -->
    <script src="https://use.typekit.net/gow5cks.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  </head>

  <body>
    <header>
      <div class="row align-justify">

        <!-- LOGO -->
        <div class="columns large-3">
          <a class="logo" href="#">
            Office<strong>Heroes</strong>
          </a>
        </div><!-- end columns -->

      <% if user_signed_in? %>
        <!-- WALLET & USER -->
        <div class="columns large-9">

          <div class="row align-right align-middle">

            <div class="columns shrink walletWrapper hide-for-small-only">
              <span class="walletPoints">
                <strong><%= current_user.available_points %></strong> pontos
              </span>

              <a class="btn ghost white" href="<%= prize_index_path %>">
                Resgatar
              </a>
            </div><!-- end wallet-wrapper -->

            <div class="columns shrink userAvatar">
              <a class="clearfix" href="#">
                <strong><%= current_user.initials %></strong> <span class="hide-for-small-only"><%= current_user.first_name %></span>
              </a>
            </div>
          </div><!-- end row -->

        </div><!-- end columns -->

      <% end %>
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <main>

      <%= yield %>

    </main>


    <footer>
      <div class="row">
        <div class="columns large-6">
          <span>
            Todos os direitos reservados.
          </span>
        </div>
        <div class="columns large-6">
          <span class="madeWithLove">
            Feito com <i>♥</i> por Morse Code
          </span>
        </div>
      </div>
    </footer>

  </body>
</html>
